:root {
  --navlinktext: #343a40;
  --navlinkhover: #6812f3;
  --footerbg: #373a40;
  --facebook: #1877f2;
  --twitter: #1da1f2;
  --instagram: #fcaf45;
  --linkedin: #0077b5;
  --white: #ffffff;
  --light: #f5f6f8;
  --black: #000000;
  --transition: all 250ms ease-in;
  --shadow: 0 0 0.125rem rgba(0, 0, 0, 0.2);
  --boxshadow: 0.3125rem 0 1.5625rem rgba(0, 0, 0, 0.2);
  --cardshadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12);
  --cardshadow-2: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

body {
  font-size: 0.875rem;
}

figure {
  margin: 0;
}

.loadericon {
  width: 20rem;
  height: 20rem;
}

.topbar {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.header {
  height: 5rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.desktopmenu {
  background: var(--navlinkhover);
  height: 3rem;
  display: flex;
  align-items: center;
}

.nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
  font-weight: 500;
  transition: var(--transition);
}

.nav-link:hover {
  color: var(--white);
}

.dropdown-toggle {
  color: rgba(255, 255, 255, 0.8);
  transition: var(--transition);
}

.dropdown-toggle:hover {
  color: var(--white);
}

.dropdown-menu {
  top: 0.75rem !important;
}

.dropdown-item {
  color: var(--navlinktext);
  font-size: 0.8125rem;
  font-weight: 500;
  transition: var(--transition);
  padding-block: 0.4rem;
}

.dropdown-item:hover:not(.active) {
  color: var(--navlinkhover);
}

.dropdown-item.active {
  color: var(--navlinkhover);
}

.dropdown-item:focus,
.dropdown-item:active {
  background: transparent;
  color: var(--navlinkhover);
}

.preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus,
input:focus,
select:focus {
  box-shadow: none;
}

.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}

.btn-close:hover,
.btn-close:focus {
  transform: rotate(90deg);
  color: red;
}

.accordion-item {
  border: 0;
}

.accordion-item:first-of-type,
.accordion-item:last-of-type {
  border-radius: 0;
}

.accordion-button {
  padding: 0;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-radius: 0;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-radius: 0;
}

.footer {
  background: var(--footerbg);
}

.copyright {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.copyright aside p {
  font-size: 0.8125rem;
  font-weight: 500;
  text-align: center;
}

.footer nav a {
  font-size: 0.8125rem;
  transition: var(--transition);
}

.social-link {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.social-link i {
  font-size: 1.125rem;
}

.social-link.facebook {
  background: var(--facebook);
  color: var(--white);
}

.social-link.twitter {
  background: var(--twitter);
  color: var(--white);
}

.social-link.instagram {
  background: var(--instagram);
  color: var(--white);
}

.social-link.linkedin {
  background: var(--linkedin);
  color: var(--white);
}

.hero {
  background: url(../images/hero.jfif) no-repeat center center/cover;
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  position: relative;
}

.breadcrumb-item {
  font-size: 0.875rem;
  color: var(--white);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--white);
}

.breadcrumb-item.active {
  font-size: 0.875rem;
  color: var(--white);
  font-weight: 500;
  filter: drop-shadow(0.125rem 0.25rem 0.375rem black);
}

.breadcrumb-item a {
  color: var(--white);
  font-size: 0.875rem;
  text-decoration: none;
}

.hero-title {
  color: var(--white);
  font-size: 1.5rem;
  filter: drop-shadow(0.125rem 0.25rem 0.375rem black);
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.card {
  border-radius: 0;
  height: 100%;
  padding: 0.875rem;
  transition: var(--transition);
}

.card:hover {
  border: 0;
  box-shadow: 0.3125rem 0 1.5625rem rgba(0, 0, 0, 0.2);
}

.card-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.5rem;
  height: 13.75rem;
  margin-inline: auto;
  overflow: hidden;
}

.card-img-top {
  transition: var(--transition);
}

.card-avatar:hover .card-img-top {
  transform: scale(1.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-body a {
  text-decoration: none;
}

.card-title {
  cursor: pointer;
  color: var(--footerbg);
  font-size: 1.125rem;
}

.card-title:hover {
  color: var(--navlinkhover);
}

.card-text {
  color: var(--black);
  font-size: 0.875rem;
}

.avatar {
  width: 17rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-inline: auto;
}

.infotext {
  color: rgb(33, 37, 41);
  font-size: 1rem;
}

.directorname {
  display: inline-block;
  border-bottom: solid 0.125rem var(--navlinkhover);
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}

.about-thumb {
  position: relative;
  height: 18.75rem;
}

.about-thumb img {
  transition: var(--transition);
}

.about-thumb:hover img {
  transform: scale(0.99);
}

.about-thumb::before,
.about-thumb::after {
  background: var(--navlinkhover);
  content: '';
  position: absolute;
  -webkit-transform: translate(-0.625rem, -0.625rem);
  -ms-transform: translate(-0.625rem, -0.625rem);
  -o-transform: translate(-0.625rem, -0.625rem);
  transform: translate(-0.625rem, -0.625rem);
  z-index: -1;
}

.about-thumb::before {
  width: 45%;
  height: 50%;
  top: 0;
  left: 0;
}

.about-thumb::after {
  width: 45%;
  height: 50%;
  bottom: -1.5em;
  right: -1.5em;
}

.missionbox {
  min-height: 18.75rem;
  display: flex;
  align-items: center;
}
.missionbox p {
  font-size: 1.125rem;
}

.mission-title,
.vision-title {
  font-size: 3rem;
  position: relative;
}

.mission-title {
  padding-left: 0.75rem;
}

.vision-title {
  padding-right: 0.75rem;
}

.mission-title::after {
  content: '';
  background: var(--navlinkhover);
  position: absolute;
  width: 0.25rem;
  height: 2.5rem;
  left: 0;
  top: 0.625rem;
  border-radius: 6.25rem;
}

.vision-title::after {
  content: '';
  background: var(--navlinkhover);
  position: absolute;
  width: 0.25rem;
  height: 2.5rem;
  right: 0;
  top: 0.625rem;
}

.carousel-indicators {
  gap: 0.5rem;
}

.carousel-indicators [data-bs-target] {
  margin: 0;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  border: 0;
}

.boss {
  /* height: 10rem; */
  width: 100%;
  background: var(--white);
  box-shadow: var(--cardshadow);
}

.boss-header {
  background: var(--navlinkhover);
  color: var(--white);
  width: 100%;
  padding: 0.5rem;
}

.bosstitle {
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
}

.boss-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.boss-thumbnail {
  width: 5rem;
  height: 5rem;
}

.boss-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
}

.bossname {
  color: var(--navlinkhover);
  font-size: 0.9375rem;
  font-weight: 600;
}

.bossposition {
  color: var(--black);
  font-size: 0.875rem;
  font-weight: 500;
}

.btn-readmore {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--black);
  text-decoration: none;
  transition: var(--transition);
}

.btn-readmore:hover {
  color: var(--navlinkhover);
}

.swiper-button-prev,
.swiper-button-next {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background: var(--navlinkhover);
  color: var(--white);
  border: 0;
  border-radius: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  width: 0;
  height: 0;
  font-size: 0;
  display: none;
}

.table {
  background: transparent;
}

.tableicon {
  font-weight: 1.125rem;
  color: var(--navlinkhover);
}

.tabletext {
  color: var(--navlinkhover);
  font-size: 0.8125rem;
  font-weight: 500;
}

.valuetext {
  color: var(--footerbg);
  font-size: 0.8125rem;
  font-weight: 500;
}

.cardevent {
  cursor: pointer;
  width: 100%;
  height: 15rem;
  position: relative;
  overflow: hidden;
}

.cardevent img {
  transition: var(--transition);
}

.cardevent:hover img {
  transform: scale(1.1);
}

.cardevent:hover .content {
  opacity: 1;
  visibility: visible;
}

.cardevent .content {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 1.25rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.event-title {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}

.slideractions {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.hodSlider:hover .slideractions {
  opacity: 1;
  visibility: visible;
}

.noticeboard {
  position: relative;
}

.noticethumb {
  position: absolute;
  top: 0;
  left: 0;
}

.noticelink {
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
}

.noticelink i {
  color: var(--footerbg);
  font-size: 1rem;
  transition: var(--transition);
}

.noticetext {
  border-bottom: solid 0.0625rem transparent;
  color: var(--footerbg);
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  transition: var(--transition);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.noticelink:hover i,
.noticelink:hover .noticetext {
  color: var(--navlinkhover);
}

.noticelink:hover .noticetext {
  border-color: var(--navlinkhover);
}

.noticelist {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.625rem 1.25rem;
}

.noticelist::-webkit-scrollbar {
  display: none;
}

.noticelist {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

tr,
td {
  margin: 0;
  background: transparent;
}

.table > :not(caption) > * > * {
  padding: 0;
  border: 0;
  background: transparent;
}

.btn-hamburger {
  background: var(--navlinkhover);
  color: var(--white);
}

.companyname {
  color: var(--navlinkhover);
}

.linkmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.herolink {
  background: var(--white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  text-decoration: none;
  box-shadow: var(--boxshadow);
  padding: 1rem;
  width: calc((100% / 2) - 1rem);
}

.herolink .linkicon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--navlinkhover);
  color: var(--white);
  font-size: 1.25rem;
}

.herolink .linktitle {
  color: var(--footerbg);
  font-size: 0.875rem;
  font-weight: 600;
  transition: var(--transition);
}

.herolink .linktitle:hover {
  color: var(--navlinkhover);
}

.carousel-inner {
  border-radius: 0.5rem;
}

.map {
  position: relative;
}

.cardlist {
  background: whitesmoke;
  padding: 1.5rem;
}

.afforestationlist {
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
}

.afforestationlist-item {
  font-size: 15px;
}

.maplocation {
  background: var(--white);
  display: flex;
  flex-direction: column;
  width: 4rem;
  font-size: 0.75rem;
  font-weight: 500;
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  z-index: 100;
}

.notfoundthumb {
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.btn-download {
  background: transparent;
  color: var(--navlinkhover);
  border: 0;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
}

.afforthumb {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.afforthumb img {
  width: 100%;
  object-fit: cover;
  transition: var(--transition);
}

.afforthumb:hover > img {
  transform: scale(1.05);
}

.capturedtime {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 100;
  background: var(--navlinkhover);
  color: var(--white);
  display: inline-flex;
  padding: 0.5rem 1rem;
}

.sessions {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sessions-item {
  position: relative;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
}

.sessions-item .cardtimeline {
  margin-top: -1.5rem;
}

.sessions .sessions-item:last-child {
  border: 0px;
  padding-bottom: 0;
}

.sessions .sessions-item::before {
  content: '';
  width: 2rem;
  height: 2rem;
  background: white;
  border: 2px solid var(--navlinkhover);
  box-shadow: 3px 3px 0px #bab5f8;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
}

.sessions .sessions-item::after {
  content: '';
  width: 2px;`123458i
  height: 100%;
  background: #9251ac;
  position: absolute;
  top: 52%;
  left: -3.5rem;
  left: 0rem;
  z-index: -1;
}

.sessions .sessions-item:last-child::after {
  content: none;
  display: none;
}

.cardtimeline {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--white);
  box-shadow: var(--cardshadow-2);
}

.cardtimeline-thumb {
  width: 200px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
}

.cardtimeline-thumb img {
  width: 100%;
  border-radius: 1rem;
}

.cardtimeline-details {
  width: calc(100% - 236px);
}

.timelinelist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.timelinelist-item {
  font-size: 15px;
}
.downloadtext {
  font-size: 0.875rem;
}

.noticeheader {
  background: var(--navlinkhover);
  width: 100%;
  padding: 0.5rem;
}

.noticeheader h2 {
  font-size: 1.125rem;
  color: var(--white);
  text-align: center;
}

@media screen and (max-width: 48rem) {
  .companyprofile .subtitle {
    font-size: 1rem;
  }
}

@media screen and (min-width: 48rem) {
  .avatar {
    margin-inline: 0;
  }
}

@media screen and (min-width: 62rem) {
  .hero-title {
    font-size: 3rem;
  }

  .breadcrumb-item,
  .breadcrumb-item.active,
  .breadcrumb-item a {
    font-size: 1rem;
  }

  .homeslider,
  .carousel-item {
    height: 490px;
    /* height: 29.125rem; */
  }

  .noticelist {
    max-height: 28.25rem;
  }
}
