:root {
  --navlinktext: #343a40;
  --navlinkhover: #6610f2;
}

body {
  font-size: 0.875rem;
}

figure {
  margin: 0;
}

.loadericon {
  width: 20rem;
  height: 20rem;
}

.topbar {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.header {
  height: 5rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.nav-link {
  color: var(--navlinktext);
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 350ms ease-in;
}

.nav-link:hover {
  color: var(--navlinkhover);
}

.dropdown-menu {
  top: 1.25rem !important;
}

.dropdown-item {
  color: var(--navlinktext);
  font-size: 0.8125rem;
  font-weight: 500;
  transition: all 350ms ease-in;
  padding-block: 0.4rem;
}

.dropdown-item:hover {
  color: var(--navlinkhover);
}

.dropdown-item:focus,
.dropdown-item:active {
  background: transparent;
  color: var(--navlinkhover);
}

.preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

button:focus,
.btn:focus,
input:focus,
select:focus {
  box-shadow: none;
}

.btn-close:focus {
  box-shadow: none;
}

.btn-close:hover,
.btn-close:focus {
  transform: rotate(90deg);
  color: red;
}
