:root {
  --navlinktext: #343a40;
  --navlinkhover: #6610f2;
  --footerbg: #102c57;
}

body {
  font-size: 0.875rem;
}

figure {
  margin: 0;
}

.loadericon {
  width: 20rem;
  height: 20rem;
}

.topbar {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.header {
  height: 5rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.nav-link {
  color: var(--navlinktext);
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 350ms ease-in;
}

.nav-link:hover {
  color: var(--navlinkhover);
}

.dropdown-menu {
  top: 1.6875rem !important;
}

.dropdown-item {
  color: var(--navlinktext);
  font-size: 0.8125rem;
  font-weight: 500;
  transition: all 350ms ease-in;
  padding-block: 0.4rem;
}

.dropdown-item:hover:not(.active) {
  color: var(--navlinkhover);
}

.dropdown-item.active {
  color: var(--navlinkhover);
}

.dropdown-item:focus,
.dropdown-item:active {
  background: transparent;
  color: var(--navlinkhover);
}

.preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus,
input:focus,
select:focus {
  box-shadow: none;
}

.btn-close:focus,
.accordion-button:focus {
  box-shadow: none;
}

.btn-close:hover,
.btn-close:focus {
  transform: rotate(90deg);
  color: red;
}

.accordion-item {
  border: 0;
}

.accordion-item:first-of-type,
.accordion-item:last-of-type {
  border-radius: 0;
}

.accordion-button {
  padding: 0;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-radius: 0;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-radius: 0;
}

.footer {
  background: var(--footerbg);
}

.copyright {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.copyright aside p {
  font-size: 0.8125rem;
  font-weight: 500;
  text-align: center;
}
